<div class="row">
<h1 class="title">Welcome to Meika's Travel App</h1>
<hr>

<div class="col-md-6">
<h2 class="second-title">Most Reviewed Destinations</h2>
<% if @destinations.any? %>
<ul>
  <% @destinations.most_reviews.each do |destination| %>
  <li><%= link_to destination.name, destination_path(destination) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no reviews yet.</p>
<% end %>
</div>

<div class="col-md-6">
<h1 class="second-title">Most Recently Added Destinations</h1>
<% if @destinations.any? %>
<ul>
  <% @destinations.three_recent.each do |destination| %>
  <li><%= link_to destination.name, destination_path(destination) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no reviews yet.</p>
<% end %>
</div>

<div class="col-md-6">
<h1 class="second-title">Want to shop locally?</h1>
<% if @destinations.any? %>
<ul>
  <% @destinations.made_in_the_usa.each do |destination| %>
  <li><%= link_to destination.name, destination_path(destination) %></li>
  <% end %>
</ul>
</div>

<% else %>
<p>There are no reviews yet.</p>
<% end %>
</div>
