* {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 0.1em;
}

a {
    font-size: 23px;
    color: #749604;
    text-decoration: none !important;
    font-style: italic;
    font-weight: 500;
}

a:hover {
    color: #F9A113 !important;
}


ul {
    list-style: none;
}

label {
    font-size: 20px;
    font-weight: 500;
}

.basic-text {
    font-size: 18px;
    font-weight: 600;
    color: #749604;
}

.btn-style {
    background-color: #03636F !important;
    color: white !important;
    padding: 12px 25px !important;
    letter-spacing: 0.1em;
    font-size: 13px;
    border-radius: 5px;
}


.container {
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.error {
    font-size: 30px;
    color: red !important;
}

.flash {
    font-size: 30px;
    color: red !important;
}


.nav-bar-top {
    min-width: 100%;
    background-color: #8F53C0;
    height: 85px;
}

.nav-bar-title {
    color: white;
    font-size: 28px;
    float: right;
    padding-right: 50px;
    padding-top: 25px;
}

.second-title {
    font-size: 26px;
}

.title {
    font-size: 40px;
}
